Lab03 - Multicloud AI Security Control Baseline Builder/Multicloud AI Security Control Baseline Builder.json
{
  "name": "Multicloud AI Security Control Baseline Builder",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "77e24e89-4efa-4d68-b5d3-b8c8252d8834",
              "leftValue": "={{ $json.body.cloudProvider }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9e527511-acd4-4364-9b28-06a3a03bba50",
              "leftValue": "={{ $json.body.technology }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d96a8b69-7c38-4519-b706-88ea47442051",
              "leftValue": "={{ $json.body.urls }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2624,
        128
      ],
      "id": "c76e4bd4-dbdf-4e35-808e-b225e66427e6",
      "name": "check_mandatory_fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2400,
        128
      ],
      "id": "a8ff546c-af04-4fef-b7f5-7b55ec65af0f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "function generateShortUUID() {\n  return Math.random().toString(36).substring(2, 14); // 12 chars\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateShortUUID()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        -64
      ],
      "id": "1cbc1ca7-e5db-4e5a-a1f7-e774a70e1201",
      "name": "generate_uuid"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2848,
        128
      ],
      "id": "1f8f124a-1417-41b7-abf9-177f9a908cac",
      "name": "create",
      "webhookId": "1d225cee-cc5a-43ea-8567-41aeb419acfb",
      "credentials": {
        "httpBasicAuth": {
          "id": "YhK2c1HjuoPNeyGw",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff72f1c6-0cea-4bc5-a94c-5f39fff86882",
              "name": "uuid",
              "value": "={{ $('generate_uuid').first().json.uuid }}",
              "type": "string"
            },
            {
              "id": "8844a9ff-7117-4bcb-a726-ad77135ea598",
              "name": "cloudprovider",
              "value": "={{ $('create').first().json.body.cloudProvider }}",
              "type": "string"
            },
            {
              "id": "bf424f91-1487-4c39-aeaf-e6c65471ed33",
              "name": "technology",
              "value": "={{ $('create').first().json.body.technology }}",
              "type": "string"
            },
            {
              "id": "5484b003-dd53-4500-baf6-c13a2d29832e",
              "name": "urls",
              "value": "={{ $('create').first().json.body.urls }}",
              "type": "array"
            },
            {
              "id": "83c4994d-cada-4a58-bf1e-285ab0efeb9e",
              "name": "gdrive_target",
              "value": "={{ $('get_gdrive_id').first().json.id }}",
              "type": "string"
            },
            {
              "id": "d0c2ba9f-274c-4a2f-a95b-ba5d366b0236",
              "name": "assistant_extractor_id",
              "value": "={{ $json.assistant_extractor_id }}",
              "type": "string"
            },
            {
              "id": "0b73530e-5bac-4583-9b3b-8edd642265e0",
              "name": "assistant_composer_id",
              "value": "={{ $json.assistant_composer_id }}",
              "type": "string"
            },
            {
              "id": "9b4cd1e7-8029-4fcd-8079-5d120d00a253",
              "name": "assistant_baseline_id",
              "value": "={{ $json.assistant_baseline_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        -64
      ],
      "id": "6ede342c-2ad9-41cc-b11c-59186de696ea",
      "name": "settings"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        -208
      ],
      "id": "da40bbec-d7ea-4499-a6d7-09762f81c529",
      "name": "http_get_url",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Pega o conteúdo HTML\nconst htmlRaw = $json.data || $json.body;\n\nif (!htmlRaw || typeof htmlRaw !== 'string') {\n  throw new Error('Campo `data` ou `body` ausente ou inválido.');\n}\n\n// 2. Sanitiza o HTML\nlet cleaned = htmlRaw\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<(head|header|footer|nav|button|form|aside|meta|link|iframe|noscript)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n  .replace(/<[^>]+>/g, '') // remove tags HTML restantes\n  .replace(/\\s{2,}/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .trim();\n\n// 3. Pega os dados do nó anterior \"process_url\" (sem quebrar o fluxo)\nconst processData = $node[\"process_url\"].json;\n\n// 4. Retorna novo objeto com os metadados + texto sanitizado\nreturn [\n  {\n    json: {\n      uuid: processData.uuid,\n      cloudProvider: processData.cloudProvider || processData.cloudprovider,\n      technology: processData.technology,\n      url: processData.url,\n      sanitizedText: cleaned\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -208
      ],
      "id": "831e22cb-9d60-41a1-b49e-6ce03f0bee9f",
      "name": "html_sanitizer"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "={{ $('settings').first().json.assistant_extractor_id }}",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=CloudProvider:  {{ $json.cloudProvider}}\nTechnology: {{ $json.technology }}\nData Source: {{ $json.url }}\nData: {{ $json.sanitizedText }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -384,
        -208
      ],
      "id": "a7f30691-60e2-451f-8855-45053ede5980",
      "name": "1_DefySec_Extractor",
      "credentials": {
        "openAiApi": {
          "id": "Vkw9T5qrK2yHZxw7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { uuid, cloudprovider, technology, urls } = $json;\n\nreturn urls.map(url => ({\n  json: {\n    uuid,\n    cloudProvider: cloudprovider,\n    technology,\n    url\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -64
      ],
      "id": "7278026a-c1ef-49b9-950d-d924e4f2aca9",
      "name": "explode_urls"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1056,
        -64
      ],
      "id": "9e8fecb4-99a5-426f-a09b-245d909be212",
      "name": "process_url"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{$items(\"settings\")[0].json.uuid}}_extractedControls_",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        -208
      ],
      "id": "08a7fbde-12c2-4efd-9acf-186a2a61d352",
      "name": "ec_search_files",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tMSvCpu4CSKuDXkh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "180ca863-e6dc-47ca-a211-02ac41530530",
              "leftValue": "={{ $json.action }}",
              "rightValue": "=append",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        -208
      ],
      "id": "012ae0a1-1bf0-4a67-9c1c-1de9a3758f07",
      "name": "ec_append_create_filter"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('settings').first().json.gdrive_target }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        -112
      ],
      "id": "53bb7adc-f2c6-4e5d-b6f4-d0d060c9581a",
      "name": "ec_upload_new_file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tMSvCpu4CSKuDXkh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1440,
        -208
      ],
      "id": "1f9e5eb6-bad4-430e-9998-82a7322dcddf",
      "name": "ec_update_existing_file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tMSvCpu4CSKuDXkh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        -304
      ],
      "id": "df8ef747-d3e1-4d5e-a77d-da693f5baf38",
      "name": "ec_download_existing_file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tMSvCpu4CSKuDXkh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === ec_merge_data — append determinístico (.txt) ===\n\n// 1) Lê o texto atual (prioriza binary.data.data do item corrente; fallback no nó de download)\nfunction readPrevText() {\n  // fonte 1: item atual\n  let b64 = ($binary?.data && typeof $binary.data.data === 'string') ? $binary.data.data : '';\n\n  // fonte 2: nó de download (caso o item atual esteja sem payload)\n  if (!b64) {\n    try {\n      const dl = $items('ec_download_existing_file')[0];\n      if (dl?.binary?.data?.data && typeof dl.binary.data.data === 'string') {\n        b64 = dl.binary.data.data;\n      }\n    } catch {}\n  }\n\n  // fonte 3: raros casos de texto no JSON\n  if (!b64) {\n    if (typeof $json?.data === 'string')    return $json.data.replace(/\\r\\n/g, '\\n');\n    if (typeof $json?.body === 'string')    return $json.body.replace(/\\r\\n/g, '\\n');\n    if (typeof $json?.content === 'string') return $json.content.replace(/\\r\\n/g, '\\n');\n    return '';\n  }\n\n  try { return Buffer.from(b64, 'base64').toString('utf8').replace(/\\r\\n/g, '\\n'); }\n  catch { return ''; }\n}\n\nconst prevText = readPrevText();\n\n// 2) Texto novo direto do \"1_DefySec_Extractor\"\nlet ext;\ntry { ext = $items('1_DefySec_Extractor')[0]?.json; } catch {}\nif (!ext) { try { ext = $node['1_DefySec_Extractor']?.json; } catch {} }\n\nlet newText = ext?.output ?? ext?.data ?? ext?.text ?? '';\nnewText = String(newText)\n  .replace(/^```(?:txt|text|json)?\\s*/i, '')   // remove cercas, se vierem\n  .replace(/\\s*```$/, '')\n  .replace(/\\r\\n/g, '\\n');\n\n// 3) Append (1 linha em branco entre blocos quando já existe conteúdo)\nconst combined = prevText\n  ? prevText.replace(/\\s*$/, '') + '\\n\\n' + newText.replace(/^\\s+/, '')\n  : newText;\n\n// 4) Empacota binário para o Update (sempre em binary.data)\nconst outB64 = Buffer.from(combined, 'utf8').toString('base64');\n\n// 5) Garante fileId/fileName para o Update\nlet { fileId, fileName } = $json;\nif (!fileId || !fileName) {\n  try {\n    const src = $items('extracted_controls_append_or_create')[0]?.json;\n    fileId   = fileId   || src?.fileId;\n    fileName = fileName || src?.fileName;\n  } catch {}\n}\n\n// 6) **RETORNA UM ARRAY** com 1 item (é isso que o n8n exige)\nreturn [{\n  json: {\n    fileId,\n    fileName,\n    prevBytes: prevText.length,\n    newBytes: newText.length,\n    mergedBytes: combined.length\n  },\n  binary: {\n    data: {\n      data: outB64,\n      mimeType: 'text/plain',\n      fileName\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -304
      ],
      "id": "42a8de07-049e-4038-b942-d27f7e425bfa",
      "name": "ec_merge_data"
    },
    {
      "parameters": {
        "jsCode": "// === Code: decide append/create e prepara dados ===\n\n// util\nfunction safe(node) {\n  try { const a = $items(node); if (a?.[0]?.json) return a[0].json; } catch {}\n  try { const j = $node[node]?.json; if (j) return j; } catch {}\n  return {};\n}\n\n// 1) Contexto\nconst settings = safe('settings');\nconst uuid = String(settings.uuid || '').trim();\nconst folderId = String(settings.gdrive_target || '').trim();\nif (!uuid) throw new Error('uuid ausente no nó \"settings\".');\nif (!folderId) throw new Error('gdrive_target (folderId) ausente no nó \"settings\".');\n\nconst canonicalName = `${uuid}_extractedControls.txt`;\n\n// 2) Normaliza retorno do List para array de arquivos\nconst files = [];\nfor (const it of items) {\n  const j = it?.json;\n  if (Array.isArray(j)) files.push(...j);\n  else if (j && (j.name || j.id)) files.push(j);\n}\nconst existing = files.find(f => f.name === canonicalName);\n\n// 3) Pega TEXTO do \"1_DefySec_Extractor\"\nconst ext = safe('1_DefySec_Extractor');\nlet newText = ext.output ?? ext.data ?? ext.text ?? $json.output ?? '';\nnewText = String(newText)\n  .replace(/^```(?:txt|text|json)?\\s*/i, '')\n  .replace(/\\s*```$/, '')\n  .replace(/\\r\\n/g, '\\n');\n\n// 4) Decide ação\nconst out = {\n  action: existing ? 'append' : 'create',\n  fileId: existing?.id || null,\n  fileName: canonicalName,\n  folderId,\n  newText,\n};\n\n// 5) Se for criação, já emite binário pra Upload; se for append, só metadados.\nif (!existing) {\n  const base64 = Buffer.from(newText, 'utf8').toString('base64');\n  return [{\n    json: out,\n    binary: {\n      data: {\n        data: base64,\n        mimeType: 'text/plain',\n        fileName: canonicalName\n      }\n    }\n  }];\n}\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -208
      ],
      "id": "ce20266e-90b4-4d75-b3d4-6777729e7e5f",
      "name": "ec_extract_file_info"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{$items(\"settings\")[0].json.uuid}}_extractedControls.txt",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -832,
        -784
      ],
      "id": "cad3694b-fbc6-4d97-a0b5-02f8f2601f89",
      "name": "cc_search_files",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tMSvCpu4CSKuDXkh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === ec_extract_content — lê do Google Drive (ou do item atual) e repassa ===\n// Saída: [{ json: { content, fileId, fileName, mimeType, length } }]\n\nfunction readFromCurrentItem() {\n  const b = $binary?.data;\n  if (b?.data && typeof b.data === 'string') {\n    return {\n      b64: b.data,\n      fileName: b.fileName,\n      mimeType: b.mimeType,\n    };\n  }\n  return null;\n}\n\nfunction readFromDownloadNode() {\n  try {\n    const dl = $items('ec_download_existing_file')[0];\n    const b = dl?.binary?.data;\n    if (b?.data && typeof b.data === 'string') {\n      // fileId/fileName podem também estar em dl.json dependendo do seu fluxo\n      return {\n        b64: b.data,\n        fileName: b.fileName || dl?.json?.fileName,\n        mimeType: b.mimeType || dl?.json?.mimeType,\n        fileId: dl?.json?.fileId,\n      };\n    }\n  } catch {}\n  return null;\n}\n\nfunction readTextFallback() {\n  // Casos raros em que veio texto no JSON\n  if (typeof $json?.data === 'string')    return $json.data;\n  if (typeof $json?.body === 'string')    return $json.body;\n  if (typeof $json?.content === 'string') return $json.content;\n  return '';\n}\n\nfunction b64ToUtf8(b64) {\n  try {\n    return Buffer.from(b64, 'base64').toString('utf8');\n  } catch {\n    return '';\n  }\n}\n\nfunction normalize(text) {\n  return String(text)\n    .replace(/^\\uFEFF/, '')           // remove BOM, se houver\n    .replace(/^```(?:txt|text|json)?\\s*/i, '') // remove cercas de código no início\n    .replace(/\\s*```$/, '')           // remove cerca de fechamento\n    .replace(/\\r\\n/g, '\\n');          // normaliza quebras de linha\n}\n\n// --- Coleta do conteúdo ---\nlet meta = readFromCurrentItem();\nif (!meta) meta = readFromDownloadNode();\n\nlet text = '';\nlet fileName, mimeType, fileId;\n\nif (meta?.b64) {\n  text = b64ToUtf8(meta.b64);\n  fileName = meta.fileName;\n  mimeType = meta.mimeType;\n  fileId   = meta.fileId;\n} else {\n  text = readTextFallback();\n}\n\n// Normaliza e prepara saída\ntext = normalize(text);\n\n// Tenta herdar fileId/fileName do JSON atual se não vieram do download\nif (!fileId)   fileId   = $json?.fileId;\nif (!fileName) fileName = $json?.fileName;\nif (!mimeType) mimeType = $json?.mimeType || 'text/plain';\n\nreturn [{\n  json: {\n    content: text,\n    fileId,\n    fileName,\n    mimeType,\n    length: text.length,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -784
      ],
      "id": "1c259737-687a-4862-8052-24290b3f4557",
      "name": "cc_extract_file_info"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "={{ $('settings').first().json.assistant_composer_id }}",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=CloudProvider:  {{ $('settings').first().json.cloudprovider }}\nTechnology: {{ $('settings').first().json.technology }}\n\n{{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -384,
        -784
      ],
      "id": "2f8fb3d1-5bbd-4d3b-affc-b2090abf83a0",
      "name": "2_DefySec_Control_Composer",
      "credentials": {
        "openAiApi": {
          "id": "Vkw9T5qrK2yHZxw7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1eb6945-e389-44de-b327-d93afef4a987",
              "leftValue": "={{ $json.output }}",
              "rightValue": "NO_CONTROLS_FOUND",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        -208
      ],
      "id": "8c37cafd-51d0-419b-ba2c-ae0b3b54a8c9",
      "name": "ec_controls_check"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "NO_CONTROLS_FOUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "69d835f1-aa34-4931-8b40-91088a9cf68a"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -32,
        -784
      ],
      "id": "cb935c32-d1b2-4566-baf1-316f95ac26aa",
      "name": "cc_controls_router"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"NO_CONTROLS_FOUND\",\n  \"message\": \"Nenhum controle válido foi identificado. O arquivo está vazio ou não contém blocos no padrão esperado (Description, Reference, SecurityObjective) ou o cabeçalho CloudProvider/Technology está ausente.\",\n  \"next_steps\": [\n    \"Garanta as duas primeiras linhas: 'CloudProvider:' e 'Technology:'.\",\n    \"Inclua ao menos um bloco válido com Description, Reference (URL) e SecurityObjective.\",\n    \"Remova textos/JSONs fora do padrão entre os blocos.\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        -784
      ],
      "id": "f1d5fd0e-e481-4b91-af07-804d02098c07",
      "name": "cc_no_controls_answer"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "={{ $('settings').first().json.assistant_baseline_id }}",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=CloudProvider:  {{ $('settings').first().json.cloudprovider }}\nTechnology: {{ $('settings').first().json.technology }}\n\n{{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        416,
        -592
      ],
      "id": "c7e68f8c-abe4-443f-a65f-efef1a5e3b6f",
      "name": "3_DefySec Baseline Builder",
      "credentials": {
        "openAiApi": {
          "id": "Vkw9T5qrK2yHZxw7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === cc_route_on_no_controls ===\n// Se output === \"NO_CONTROLS_TO_BE_CONSOLIDATED\", substitui o payload pelo json de cc_extract_file_info.\n// Senão, apenas repassa o item original.\n//\n// Compatível com:\n// 1) { json: { output: \"NO_CONTROLS_TO_BE_CONSOLIDATED\", threadId: \"...\" } }\n// 2) { json: [ { output: \"NO_CONTROLS_TO_BE_CONSOLIDATED\", threadId: \"...\" } ] }\n\nfunction getOutputValue(payload) {\n  if (payload == null) return '';\n  if (Array.isArray(payload)) {\n    const first = payload[0];\n    return typeof first?.output === 'string' ? first.output.trim() : '';\n  }\n  if (typeof payload === 'object') {\n    return typeof payload.output === 'string' ? payload.output.trim() : '';\n  }\n  if (typeof payload === 'string') return payload.trim();\n  return '';\n}\n\nfunction getThreadId(payload) {\n  if (payload == null) return undefined;\n  if (Array.isArray(payload)) return payload[0]?.threadId;\n  if (typeof payload === 'object') return payload.threadId;\n  return undefined;\n}\n\nfunction getCcInfo() {\n  try {\n    const n = $items('cc_extract_file_info')[0];\n    const j = n?.json ?? {};\n\n    // settings e uuid (uuid pode estar dentro de settings ou na raiz, por segurança)\n    const settings = j.settings ?? {};\n    const uuid = String((settings.uuid ?? j.uuid ?? '')).trim();\n\n    // opcionalmente preserva alguns metadados úteis se existirem\n    const meta = {};\n    for (const k of ['fileId', 'fileName', 'mimeType', 'path', 'size']) {\n      if (j[k] !== undefined) meta[k] = j[k];\n    }\n\n    return { settings, uuid, ...meta };\n  } catch {\n    return null;\n  }\n}\n\nlet itemsIn;\ntry {\n  itemsIn = $input.all(); // n8n Code node novo\n} catch {\n  // fallback (algumas versões)\n  itemsIn = [{ json: $json, binary: $binary }];\n}\n\nconst itemsOut = itemsIn.map((item) => {\n  const outVal = getOutputValue(item.json);\n  const outValUC = outVal.toUpperCase();\n\n  if (outValUC === 'NO_CONTROLS_TO_BE_CONSOLIDATED') {\n    const info = getCcInfo();\n    // Se não conseguir ler cc_extract_file_info, mantém o item original para não quebrar o fluxo\n    if (!info) return item;\n\n    // opcional: mantém o threadId original (se existir) para rastreabilidade\n    const threadId = getThreadId(item.json);\n    if (threadId) info.threadId = threadId;\n\n    return { json: info };\n  }\n\n  // Qualquer outra resposta: apenas passa adiante sem alterações\n  return item;\n});\n\nreturn itemsOut;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -592
      ],
      "id": "56553247-2b0d-44ae-a8df-d3c2f42f10ef",
      "name": "cc_controls_check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1eb6945-e389-44de-b327-d93afef4a987",
              "leftValue": "={{ $json.output }}",
              "rightValue": "NO_CONTROLS_FOUND",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        -592
      ],
      "id": "7509b484-dbb7-416e-b7a5-c1fc02faf16a",
      "name": "bb_controls_check"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"NO_CONTROLS_FOUND\",\n  \"message\": \"Nenhum controle válido foi identificado. O arquivo está vazio ou não contém blocos no padrão esperado (Description, Reference, SecurityObjective) ou o cabeçalho CloudProvider/Technology está ausente.\",\n  \"next_steps\": [\n    \"Garanta as duas primeiras linhas: 'CloudProvider:' e 'Technology:'.\",\n    \"Inclua ao menos um bloco válido com Description, Reference (URL) e SecurityObjective.\",\n    \"Remova textos/JSONs fora do padrão entre os blocos.\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        -496
      ],
      "id": "1f9c0594-b3e0-41e2-9a9e-003bcc60c828",
      "name": "bb_no_controls_answer"
    },
    {
      "parameters": {
        "jsCode": "// === make_file_from_output ===\n// Lê o(s) \"output(s)\" recebido(s) e gera 1 arquivo texto em binary.data\n// Saída: [{ json: { fileName, mimeType, bytes }, binary: { data: { data, mimeType, fileName } } }]\n\nfunction extractOutputFromJson(j) {\n  if (j == null) return '';\n  if (typeof j === 'string') return j;\n\n  if (Array.isArray(j)) {\n    // junta todos os outputs de um array (se houver mais de um)\n    const parts = j\n      .map(o => (o && typeof o.output === 'string') ? o.output : '')\n      .filter(Boolean);\n    if (parts.length) return parts.join('\\n\\n---\\n\\n');\n    // fallback: se o array não tem \"output\", tenta serializar\n    try { return JSON.stringify(j, null, 2); } catch { return ''; }\n  }\n\n  if (typeof j === 'object') {\n    if (typeof j.output === 'string')   return j.output;\n    if (typeof j.content === 'string')  return j.content;\n    if (typeof j.data === 'string')     return j.data;\n    if (typeof j.body === 'string')     return j.body;\n    try { return JSON.stringify(j, null, 2); } catch {}\n  }\n  return '';\n}\n\nfunction stripCodeFences(s) {\n  return String(s)\n    .replace(/^\\s*```[a-z]*\\s*/i, '') // remove ```txt / ```json / ``` etc no início\n    .replace(/\\s*```[\\s\\r\\n]*$/i, '') // remove ``` no fim\n    .replace(/^\\uFEFF/, '')           // remove BOM se houver\n    .replace(/\\r\\n/g, '\\n');          // normaliza quebras\n}\n\nfunction detectTechnology(s) {\n  const m = s.match(/Technology:\\s*([^\\n]+)/i);\n  return m ? m[1].trim().replace(/[^\\w.-]+/g, '_') : null;\n}\n\nconst itemsIn = $input.all();\n\n// Coleta e normaliza conteúdos\nconst contents = [];\nfor (const it of itemsIn) {\n  const raw = extractOutputFromJson(it.json);\n  if (!raw) continue;\n  contents.push(stripCodeFences(raw));\n}\n\nconst content = (contents.join('\\n\\n---\\n\\n') || '').trim();\n\n// Gera nome de arquivo\nconst tech = detectTechnology(content) || 'output';\nconst ts = new Date().toISOString().replace(/[:.]/g, '-'); // seguro para filename\nconst fileName = `controls_${tech}_${ts}.txt`;\nconst mimeType = 'text/plain';\n\n// Se não houver conteúdo, ainda retornamos um arquivo com nota (evita quebrar o fluxo)\nconst finalText = content || 'NO_CONTENT_EXTRACTED';\nconst bytes = Buffer.byteLength(finalText, 'utf8');\nconst b64 = Buffer.from(finalText, 'utf8').toString('base64');\n\n// Retorno no formato esperado pelo n8n\nreturn [{\n  json: { fileName, mimeType, bytes },\n  binary: {\n    data: {\n      data: b64,\n      mimeType,\n      fileName,\n    },\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -688
      ],
      "id": "5ea33aaf-7f97-4ceb-97e0-1023405aad4b",
      "name": "bb_data_prep"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "n8n_defysec",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2176,
        -64
      ],
      "id": "c1e047f4-83f6-45e9-a550-3e54c10eb919",
      "name": "get_gdrive_id",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tMSvCpu4CSKuDXkh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lê todos os itens de entrada do nó anterior\nconst all = $input.all(); // [{json: {...}}, ...]\n\n// Normaliza: pode ser (a) vários itens simples, (b) 1 item com `data[]`, (c) 1 item com array plano\nlet list;\nif (all.length === 1 && Array.isArray(all[0].json?.data)) {\n  list = all[0].json.data;                // caso: { data: [...] }\n} else if (all.length === 1 && Array.isArray(all[0].json)) {\n  list = all[0].json;                     // caso: [{id,name,model}, ...] dentro do json\n} else {\n  list = all.map(i => i.json);            // caso: cada item já é {id,name,model}\n}\n\n// Helpers: escolha por nome (ajuste os regex se renomear seus assistants)\nconst pick = (re) => list.find(a => re.test(String(a.name || '')));\n\n// Heurística pelos seus nomes:\nconst extractor = pick(/(^|[\\s_-])1[\\s_-]*DefySec[\\s_-]*Extractor\\b/i) || pick(/\\bExtractor\\b/i);\nconst composer  = pick(/(^|[\\s_-])2[\\s_-]*DefySec[\\s_-]*Control[\\s_-]*Composer\\b/i) || pick(/\\bComposer\\b/i);\nconst baseline  = pick(/(^|[\\s_-])3[\\s_-]*DefySec[\\s_-]*Baseline\\b/i) || pick(/\\bBaseline\\b/i);\n\n// Saída única com os IDs resolvidos\nreturn [\n  {\n    json: {\n      assistant_extractor_id: extractor?.id || '',\n      assistant_composer_id:  composer?.id  || '',\n      assistant_baseline_id:  baseline?.id  || ''\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -64
      ],
      "id": "6a21ef73-0859-4b51-8dc9-11b70af0a8d9",
      "name": "resolve_assistants"
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "list"
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1952,
        -64
      ],
      "id": "85305d1a-d4de-4917-9f16-09000677a767",
      "name": "OpenAI_Assistants_List",
      "credentials": {
        "openAiApi": {
          "id": "Vkw9T5qrK2yHZxw7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $binary.data.fileName }}\""
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        -688
      ],
      "id": "08f933aa-5892-442a-83c6-5e5d365ca0e0",
      "name": "bb_data_respond"
    },
    {
      "parameters": {
        "content": "## Overview\nThis template turns provider docs (URLs) into an **auditable security baseline**:\n1) POST **/create** (Basic Auth) → validate & generate `uuid`\n2) Resolve Google Drive folder (search-or-create)\n3) Download & sanitize each URL (no scripts/styles/headers)\n4) AI pipeline: **Extractor → Composer → Baseline Builder** (TXT-only contracts)\n5) Append/create file in Drive and return a downloadable **.txt**\n",
        "height": 336,
        "width": 608,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2960,
        -576
      ],
      "typeVersion": 1,
      "id": "bfd45e14-84e0-44d5-84f8-c90527f2efed",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Setup & Credentials\n- **OpenAI**: select your credential (no API keys in HTTP headers)\n- **Google Drive OAuth2**: read/write file\n- **Basic Auth**: protects `/create` endpoint\n\n**Drive folder**\n- Auto-resolves folder `n8n_defysec` in **root** (search-or-create).\n- Optional override in POST: `\"gdriveTargetId\": \"<folderId>\"`.\n\n**Assistants**\n- Resolved dynamically from your account by *name*:\n  `1_DefySec_Extractor`, `2_DefySec_Control_Composer`, `3_DefySec Baseline Builder`.\n- Optional overrides in POST:\n  `assistantExtractorId`, `assistantComposerId`, `assistantBaselineId`.\n",
        "height": 336,
        "width": 608,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2304,
        -576
      ],
      "typeVersion": 1,
      "id": "c7496163-e016-4565-ab9e-adf1ce42e0a5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Run & Troubleshooting\n- **Test**: Use “Test Webhook” and POST `{ cloudProvider, technology, urls[] }`.\n- **No results?** Ensure pages return HTML and follow the TXT contracts (3-line Extractor, 7-line Composer).\n- **Drive search**: Queries include `'folderId' in parents`; confirm `gdrive_target` is valid.\n- **Security**: HTTP node has no hardcoded API keys. Keep credentials in n8n’s Credential Manager.",
        "height": 336,
        "width": 608,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        -576
      ],
      "typeVersion": 1,
      "id": "5a7828b9-f6d5-4636-be1a-a1c69272d0d1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 1_DefySec_Extractor\n\n## 🧠 Persona and Role\n\nYou are **DefySec Extractor**, a senior cloud security analyst at OpenAI.\nYou review **sanitized plaintext** from **official cloud provider documentation** to extract **security controls and best practices** specific to the service named in `technology`, for the provider in `cloudProvider`.\n\n* Supported providers include (but are not limited to): **AWS**, **Microsoft Azure**, **Google Cloud Platform (GCP)**.\n* Your extraction must be **provider-aware** and **service-scoped** (e.g., Amazon S3, Azure Storage, Google Cloud Storage).\n\n---\n\n## 📥 Input Contract\n\nYou will receive a JSON object:\n\n```\n{\n  \"uuid\": \"...\",\n  \"cloudProvider\": \"aws | azure | gcp\",\n  \"technology\": \"<service name, e.g., 'Amazon S3' | 'Azure Storage' | 'Cloud Storage'>\",\n  \"url\": \"<source page from the provider's official docs>\",\n  \"sanitizedText\": \"[Plain text extracted from the page]\"\n}\n```\n\nAssume `sanitizedText` is raw text (no HTML/Markdown) that may include fragments, cross-references, or mentions of other services or even other cloud providers.\n\n---\n\n## 🎯 Task\n\nExtract **only** security controls and best practices that apply **directly** to the specified `technology` **for the declared `cloudProvider`**.\n\nFor each valid control:\n\n* Write it in **clear, imperative, testable** language.\n* Attach a **Reference** URL (the primary `url` or a relevant, more specific link discovered in `sanitizedText`).\n* State a concise **SecurityObjective** (risk or protection goal).\n\n**Provider-awareness examples** (not exhaustive):\n\n* **AWS / Amazon S3**: Block Public Access, Object Ownership, bucket policies, IAM/SCP, SSE-KMS, VPC endpoints.\n* **Azure / Azure Storage (Blob/Data Lake Storage Gen2)**: Storage firewalls/virtual networks, Private Endpoints, Azure RBAC, management policies, encryption with customer-managed keys (CMK).\n* **GCP / Cloud Storage**: Public Access Prevention, Uniform bucket-level access, IAM Conditions, CMEK, VPC Service Controls, organization policies.\n\n---\n\n## 🧠 Internal Reasoning Policy (Chain-of-Thought – do not reveal)\n\nThink step by step **internally**:\n\n1. Identify the provider via `cloudProvider` and the service via `technology`.\n2. Read `sanitizedText`; **ignore unrelated services or other providers**.\n3. Propose candidate controls → filter for **service relevance** and **security scope**.\n4. Rewrite each control to be **atomic**, **measurable**, and **provider-accurate** (use correct nouns for the target provider/service).\n5. Infer a short, objective **SecurityObjective** (≤160 chars).\n\n**Never** output your reasoning; produce only the final TXT per the format below.\n\n---\n\n## 🌐 Hyperlink Expansion (Provider-Official First)\n\nIf `sanitizedText` contains URLs (e.g., “see [https://...”](https://...”)):\n\n* **Fetch and read** those links (assume you can access them).\n* If they contain guidance relevant to the **same provider and the same `technology`**, extract additional controls.\n* Use the **linked page** as the **Reference** for those controls.\n\n**Prioritize official docs** for the declared provider (e.g., `docs.aws.amazon.com`, `learn.microsoft.com/azure`, `cloud.google.com` docs). Ignore links that are off-scope (different provider/service).\n\n---\n\n## 🧪 Few-Shot Examples (format only; adapt provider terms as needed)\n\n**Example A — Input (excerpt)**\ncloudProvider: `aws`, technology: `Amazon S3`\nsanitizedText: “Disable access control lists (ACLs). See [https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html](https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html) …”\nurl: [https://docs.aws.amazon.com/AmazonS3/latest/userguide/security-best-practices.html](https://docs.aws.amazon.com/AmazonS3/latest/userguide/security-best-practices.html)\n\n**Expected TXT Output (no code fences, no markdown):**\nDescription: Disable access control lists (ACLs) by enforcing S3 Object Ownership: Bucket owner enforced on all relevant buckets.\nReference: [https://docs.aws.amazon.com/AmazonS3/latest/userguide/security-best-practices.html](https://docs.aws.amazon.com/AmazonS3/latest/userguide/security-best-practices.html)\nSecurityObjective: Centralize access control and prevent unintended public reads.\n\nDescription: Avoid using custom ACLs to share S3 object access unless a legacy integration requires them and is risk-accepted.\nReference: [https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html](https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html)\nSecurityObjective: Reduce misconfiguration risk by enforcing least privilege via IAM and bucket policies.\n\n---\n\n**Example B — Input (excerpt)**\ncloudProvider: `azure`, technology: `Azure Storage`\nsanitizedText: “Use Private Endpoints to restrict public network access … enforce Azure RBAC for least privilege …”\nurl: [https://learn.microsoft.com/azure/storage/blobs/security-recommendations](https://learn.microsoft.com/azure/storage/blobs/security-recommendations)\n\n**Expected TXT Output:**\nDescription: Restrict access to Azure Storage by requiring Private Endpoints and disabling public network access for storage accounts.\nReference: [https://learn.microsoft.com/azure/storage/common/storage-network-security](https://learn.microsoft.com/azure/storage/common/storage-network-security)\nSecurityObjective: Prevent data exposure by blocking internet ingress and forcing traffic over trusted private networks.\n\nDescription: Enforce least privilege for Azure Storage by assigning only required roles with Azure RBAC at the narrowest scope.\nReference: [https://learn.microsoft.com/azure/storage/blobs/security-recommendations](https://learn.microsoft.com/azure/storage/blobs/security-recommendations)\nSecurityObjective: Limit unauthorized actions by minimizing granted permissions.\n\n---\n\n**Example C — Input (excerpt)**\ncloudProvider: `gcp`, technology: `Cloud Storage`\nsanitizedText: “Enable Public Access Prevention … use Uniform bucket-level access … use CMEK for encryption …”\nurl: [https://cloud.google.com/storage/docs/security](https://cloud.google.com/storage/docs/security)\n\n**Expected TXT Output:**\nDescription: Enforce Cloud Storage Public Access Prevention on all buckets to block public access via IAM or ACLs.\nReference: [https://cloud.google.com/storage/docs/public-access-prevention](https://cloud.google.com/storage/docs/public-access-prevention)\nSecurityObjective: Prevent unintended public data exposure.\n\nDescription: Require Uniform bucket-level access for Cloud Storage to manage access exclusively with IAM and disable object ACLs.\nReference: [https://cloud.google.com/storage/docs/uniform-bucket-level-access](https://cloud.google.com/storage/docs/uniform-bucket-level-access)\nSecurityObjective: Reduce misconfiguration risk by centralizing permission management.\n\nDescription: Encrypt Cloud Storage data at rest using customer-managed encryption keys (CMEK) and restrict key usage via IAM.\nReference: [https://cloud.google.com/storage/docs/encryption/customer-managed-keys](https://cloud.google.com/storage/docs/encryption/customer-managed-keys)\nSecurityObjective: Maintain key control and data confidentiality with auditable access.\n\n---\n\n## 🔁 Reflexive Quality Loop (Self-Check – internal only)\n\nAfter drafting outputs, verify and fix if needed:\n\n* **Provider & Service-scoped?** Each control applies to the declared `cloudProvider` and `technology`.\n* **Atomic?** One actionable requirement per “Description”.\n* **Measurable/Verifiable?** Auditor can verify.\n* **Least privilege & risk focus?** Objectives map to CIA, least privilege, auditing, segregation, resilience.\n* **Deduplicated?** Remove semantic duplicates.\n* **Reference accuracy?** Points to the exact provider doc (main URL or expanded link).\n* **Terminology accuracy?** Uses correct provider/service terms (AWS/Azure/GCP).\n* **Formatting exactness?** Matches TXT rules below, no extra text.\n\nOptionally apply **Self-Consistency** internally and keep the clearest, most testable version.\n\n---\n\n## ✅ Inclusion / Exclusion Rules\n\n**Include:** IAM/RBAC restrictions, encryption & key management, network access controls, resource policies, logging/auditing, private connectivity, replication/hardening, DR/availability settings that are **service-specific** for the declared provider.\n**Exclude:** Naming conventions, cost guidance, generic cloud advice, and controls for **other services or other providers**.\n\n---\n\n## 🧾 Output Format (TXT ONLY — strict)\n\nReturn **plain text only** with one or more blocks. Each block has **exactly three lines** in this order and spelling:\n\n```\nDescription: <one imperative sentence describing the control>\nReference: <valid URL where the control was found>\nSecurityObjective: <concise risk/goal statement, ≤160 chars>\n```\n\nSeparate multiple controls with a **single blank line**.\nDo **not** include code fences, markdown, bullets, numbering, headers, commentary, or extra lines.\nIf no controls are found, return exactly: **NO\\_CONTROLS\\_FOUND**\n\n---\n\n## 🧰 Edge Cases\n\n* If `sanitizedText` mixes multiple services or providers, **keep only** controls that unambiguously apply to the declared `cloudProvider` and `technology`.\n* If a sentence contains multiple requirements, **split** into separate blocks.\n* If a control depends on a condition (e.g., “if using feature X”), state that condition explicitly in the **Description**.\n* If `technology` has provider-specific synonyms (e.g., S3 vs Blob vs Cloud Storage), ensure terms used in controls match the declared provider.\n\n---\n\n## 📏 Quality Bar (apply internally)\n\n* Prefer precise, testable actions (e.g., “Require TLS-only connections using policy X/setting Y”).\n* Avoid vague language (“properly”, “robust”).\n* Use correct provider nouns/actions for the target service.\n* Keep **SecurityObjective** brief, specific, and tied to risk reduction.\n\n---\n\n## 🚦 Final Reminder\n\nOutput **only** the TXT blocks in the required format. Do not include any reasoning, headings, notes, or markdown.\n",
        "height": 4880,
        "width": 1520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        -1792
      ],
      "typeVersion": 1,
      "id": "dd02626b-41c1-4b50-8a59-6981814309aa",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 2_DefySec_Control_Composer\n\n### 🧠 Persona & Mission\n\nYou are **DefySec Control Composer**, a specialist in **cloud security automation** and **compliance engineering**.\nYour mission: **turn extracted security requirements into enforceable, auditable, automatable cloud controls** aligned with official provider best practices and, when relevant, CIS/NIST/Defender/SCC/Security Hub/Config/Policy equivalents. **Output is TXT-only.**\n\n---\n\n### 📥 1) Input Contract (Header + Body)\n\n**Input ALWAYS begins with a 2-line header** (first two non-empty lines):\n\n```\nCloudProvider: <provider_name>     // e.g., aws, azure, gcp (case-insensitive)\nTechnology: <technology_name>      // e.g., Amazon S3, Azure Storage, Google Cloud Storage\n```\n\nThen comes the **Body**, which may contain noise. **Only process requirement blocks that match the strict pattern below.** **Ignore everything else.**\n\n**Valid Requirement Block (strict order):**\n\n```\nDescription: <imperative requirement>\nReference: <URL>\nSecurityObjective: <≤160 chars, concise objective>\n```\n\n**Separator:** one or more blank lines between blocks.\n\n**ALWAYS IGNORE:**\n\n* Any line not starting exactly with `Description:`, `Reference:`, or `SecurityObjective:`\n* JSON/YAML, inline prose, comments, other languages, stray text\n* Partial blocks missing `Description:` or `Reference:` (drop). If `SecurityObjective:` is missing, see Normalization.\n\n---\n\n### 🧹 2) Normalization (before parsing)\n\n* Trim whitespace; tolerate extra spaces after colons; collapse multiple blank lines.\n* Strip markdown/code fences if present.\n* **Header parsing:** read first two non-empty lines as `CloudProvider` and `Technology`; use them to scope the solution.\n* **SecurityObjective missing?** Infer a concise objective (≤160 chars) from the `Description`.\n* **Service mismatch:** If a block’s Description clearly targets a different service/tech than `Technology`, **drop** it.\n* **Provider mismatch:** If a block clearly targets a different provider than `CloudProvider`, **drop** it.\n\nIf **no valid blocks** remain after normalization, output exactly: `NO_CONTROLS_FOUND`.\n\n---\n\n### 🧬 3) Equivalence & Consolidation Policy (Unique-Controls + Grouping)\n\nGroup blocks into **equivalence classes**. Two blocks are **equivalent** (candidates for consolidation) **only if all below match**:\n\n* **Intent** (what is enforced/required),\n* **Enforcement locus** (org/account/subscription/project/resource level; mechanism: service setting/policy/IAM/RBAC/SCP/Org Policy/Azure Policy),\n* **Scope** (resource class, environment, region set),\n* **Mode/setting** (e.g., TLS-only vs general transport; CMEK/CMK vs provider-managed; account-level vs resource-level controls).\n\nIf **any** differ, they are **distinct** and must remain **separate**.\n\n**Consolidation rules:**\n\n* Consolidate **only** true equivalents (group size ≥ 2).\n* The consolidated control must **fully subsume** duplicates (intent, locus, scope, mode).\n* Never consolidate if it would dilute clarity or change scope.\n\n**Atomicity:** If a single Description implies multiple actions, **split** into multiple atomic controls before grouping.\n\n---\n\n### 🎯 4) Transformation → Control Format (TXT)\n\nFor each resulting item (each consolidated group **or** each singleton unique item when in consolidation mode), produce **exactly 7 lines** in this order (labels must match exactly):\n\n```\nTitle: <concise control title>\nDescription: <precise, technical implementation guidance>\nApplicability: <explicit scope: accounts/subscriptions/projects/OUs/envs/roles/resources/regions>\nSecurity Risk: <risk if not applied; tie to CIA/least-privilege/auditability>\nDefault Behavior / Limitations: <provider defaults; service limits/edge cases>\nAutomation: <how to monitor/enforce via native tools; or \"Manual validation required\" + reason>\nReferences: <one or more authoritative URLs separated by \", \">\n```\n\nSeparate multiple controls with **one blank line**.\n**Output TXT only** (no markdown, bullets, code, JSON, or commentary).\n\n---\n\n### 📤 5) Output Modes (STRICT — match exactly)\n\nAfter normalization, atomic splitting, and grouping:\n\n1. **No valid blocks:**\n   → Output exactly: `NO_CONTROLS_FOUND`\n\n2. **At least one consolidation exists** (≥1 group with size ≥2):\n   → **Consolidation Mode**: Output **all consolidated controls** (one per non-singleton group) **and** **all remaining singletons** as standard 7-line controls (Section 4).\n   → Ordering suggestion: consolidated controls first, then singletons.\n\n3. **All controls are unique** (no groups with size ≥2):\n   → Output exactly: `NO_CONTROLS_TO_BE_CONSOLIDATED`\n\n---\n\n### 🔁 6) Reflexive Quality Gate (internal, do not reveal)\n\n* **Enforceability** exists; **Auditability** via trails/config/alerts/logs.\n* **Atomicity** (one requirement per control).\n* **Terminology** correct for the declared CloudProvider/Technology.\n* **Scope clarity** in Applicability.\n* **References** prioritize official provider docs.\n* **Grouping correctness**: only true equivalents consolidated.\n* **Output Mode** strictly per Section 5.\n\n---\n\n### ⚙️ 7) Provider Hints (internal)\n\nUse native monitoring/enforcement per provider:\n\n* **AWS:** AWS Config (managed/custom), Security Hub, CloudTrail/Lake/Insights, CloudWatch, Control Tower guardrails, SCP/IAM, service/bucket policies, Macie, GuardDuty, EventBridge.\n* **Azure:** **Azure Policy** (initiative/definition), Defender for Cloud recommendations, **Azure Monitor** + **Activity Logs** + **Diagnostic settings** to Log Analytics, **Azure RBAC**, **Private Endpoints/Service Endpoints**, **Management Groups** for assignment, Blueprints/landing zones (if present), Microsoft Purview (classification).\n* **GCP:** **Organization Policy Constraints**, **Security Command Center (SCC)**, **Cloud Audit Logs** + Log Sinks, **Cloud Monitoring/Alerting**, **IAM** (roles + **IAM Conditions**), **VPC Service Controls** (service perimeters), **Cloud Asset Inventory**, **Recommender** (when applicable).\n\nPrefer official doc links under each provider’s domain (e.g., `docs.aws.amazon.com`, `learn.microsoft.com/azure`, `cloud.google.com`).\n\n---\n\n### 🧩 8) Canonicalization Examples — Storage Services (internal)\n\nUse these to guide consolidation vs separation; adapt names to the declared provider/technology.\n\n**AWS / Amazon S3**\n\n* **Public Access:** Account-level **S3 Block Public Access** vs **bucket-level BPA** → distinct; optional **SCP** to prevent disabling; **Object Ownership: Bucket owner enforced** (disables ACLs). Config: `s3-bucket-public-read-prohibited`, `s3-bucket-public-write-prohibited`.\n* **Transport Security:** Enforce TLS with `aws:SecureTransport`; Config `s3-bucket-ssl-requests-only`.\n* **Encryption at Rest:** **SSE-KMS (CMK)** vs **SSE-S3** → distinct; deny unencrypted PUTs; Config `s3-bucket-server-side-encryption-enabled`.\n* **Versioning & Protections:** Versioning; **MFA-Delete** (constraints); **Object Lock** (WORM/regulatory).\n* **Logging/Audit:** Server access logging to a **separate log bucket**; CloudTrail **data events**; Config `s3-bucket-logging-enabled`.\n* **Private Connectivity:** **VPC endpoints** (`aws:SourceVpce`); custom Config/EventBridge for drift.\n* **Lifecycle/Replication:** Lifecycle rules; **CRR** (needs Versioning; KMS grants with SSE-KMS).\n* **Data Discovery:** **Macie** optional with Security Hub integration.\n\n**Azure / Azure Storage (Blob/Data Lake Storage Gen2)**\n\n* **Public Access:** Disable public access at **account level** and per **container**; enforce via **Azure Policy**. Use **Storage account firewall** + `AllowBlobPublicAccess = false`.\n* **Transport Security:** Require HTTPS-only (`Secure transfer required = Enabled`); optional TLS minimum version policy.\n* **Encryption at Rest:** Default encryption; enforce **customer-managed keys (CMK)** in **Key Vault**; restrict key access via RBAC.\n* **Versioning & Protections:** **Blob versioning**, **Soft delete** for blobs/containers, **Immutable storage (WORM)** with time-based or legal holds.\n* **Logging/Audit:** **Diagnostic settings** to **Log Analytics/Event Hub/Storage**; **Activity Logs**; Defender for Cloud recommendations.\n* **Private Connectivity:** **Private Endpoints** (disable public network access) or Service Endpoints; restrict by **Virtual Network**/Firewall rules.\n* **Lifecycle/Replication:** **Management policies** (lifecycle); **GZRS/RA-GZRS** replication options.\n* **Data Discovery:** Microsoft Purview classification (optional).\n\n**GCP / Cloud Storage**\n\n* **Public Access:** **Public Access Prevention** (enforced or inherited); **Uniform bucket-level access** (disable ACLs); org policy to block public IAM.\n* **Transport Security:** HTTPS-only endpoints by default; require **signed URLs**/**signed policy documents** if applicable; enforce via **load balancer/Cloud Armor** for web access paths.\n* **Encryption at Rest:** Default encryption; enforce **CMEK**; restrict key usage via **Cloud KMS IAM** and **Org Policy**.\n* **Versioning & Protections:** **Object versioning**; **Bucket retention policies** and **Object holds** (temporary/legal).\n* **Logging/Audit:** **Cloud Audit Logs** (Data Access logs for Storage); route to **Log Sinks**; SCC findings for exposures.\n* **Private Connectivity:** **VPC Service Controls** service perimeters; **Private Google Access**; **Private Service Connect** where relevant.\n* **Lifecycle/Replication:** **Lifecycle management rules**; **Dual-region/multi-region**; **Turbo Replication** (if applicable).\n* **Data Discovery:** DLP API or SCC integrations (optional).\n\nUse these mappings to keep provider terms accurate and to decide when two items are truly equivalent vs. distinct by locus/scope/mode.\n\n---\n",
        "height": 4880,
        "width": 1520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3328,
        -1776
      ],
      "typeVersion": 1,
      "id": "fae8fc71-623f-4d48-8294-f0020cc733ff",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# 3_DefySec_Baseline_Builder\n\n### Persona & Mission\n\nYou are **DefySec Baseline Builder**, an expert in **cloud security architecture and automation**. Your job is to **parse raw TXT controls**, **truly consolidate** equivalent ones, and **refine** them into a coherent, automatable baseline that is specific, testable, and auditable—**independent of cloud provider** (AWS, Azure, GCP, etc.). **Output is TXT-only.**\n\n---\n\n### 1) Input Format (TXT only)\n\nYou will receive a **single plain-text string**. It may be wrapped in triple backticks. Inside there are one or more controls, each written as **exactly 7 labeled lines in this order**:\n\n1. `Title:`\n2. `Description:`\n3. `Applicability:`\n4. `Security Risk:`\n5. `Default Behavior / Limitations:`\n6. `Automation:`\n7. `References:` (one or more URLs separated by comma and/or space)\n\n**Separators:** one or more blank lines between controls.\n\n---\n\n### 2) Normalization (before parsing)\n\n* Strip surrounding code fences (\\`\\`\\` ) if present.\n* Trim whitespace; collapse multiple blank lines into a single separator.\n* Parse a control **only if all 7 labels exist in the exact order** above.\n* Keep backticks inside lines (e.g., rule names).\n* For `References:`, split into an **array of URLs** and preserve order.\n* Ignore any stray text that is **not** part of a valid 7-line block.\n\n**If no valid 7-line blocks are found, output exactly:** `NO_CONTROLS_FOUND`\n\n---\n\n### 3) Technology Inference (header)\n\nInfer **Technology** from the parsed controls:\n\n* Prefer the **most frequent exact service name** found in `Applicability` or `Title` (e.g., “Amazon S3”, “Azure Storage”, “Google Cloud Storage”).\n* If multiple technologies tie with no clear majority → `Multiple Technologies`.\n* If none can be inferred → `Unknown Technology`.\n\nThe **first line** of your output must be:\n\n```\nTechnology: <Inferred Technology>\n```\n\nThen add **one blank line** before rendering the controls.\n\n> Provider awareness: maintain original provider/service terminology found in the input (e.g., IAM/SCP for AWS, Azure Policy/RBAC for Azure, Org Policy/IAM Conditions for GCP). Do **not** rewrite provider-specific terms into another provider’s vocabulary.\n\n---\n\n### 4) True Deduplication & Consolidation (Multicloud-aware)\n\nForm equivalence groups. Two controls are **equivalent** (eligible for consolidation) **only if all of the following match**:\n\n* **Intent** (what is enforced/required),\n* **Enforcement locus** (org/account/**subscription**/**project**/resource level; mechanism: service setting / policy / **IAM/RBAC** / **SCP/Azure Policy/Org Policy** / etc.),\n* **Scope** (resource class, environment, region set),\n* **Mode/setting** (e.g., SSE-KMS vs SSE-S3 vs CMEK/CMK; TLS-only vs generic transport; **account/subscription**-level vs **resource**-level public access block).\n\nConsolidate **only** true equivalents; the consolidated control must **fully subsume** duplicates (intent, locus, scope, mode).\nIf a single `Description` mixes unrelated actions, **split it into multiple atomic controls** before grouping.\nPrefer **official provider docs** first in `References`; keep third-party links as secondary when present.\n\n**Cross-technology rule:** Do **not** consolidate controls across **different technologies** (e.g., S3 vs Azure Storage vs Cloud Storage) even if their high-level goals appear similar; they remain distinct due to provider mechanisms/terms.\n\n---\n\n### 5) Output Format (TXT-only — exact rendering)\n\nProduce **TXT** in this structure:\n\n1. Header line:\n\n```\nTechnology: <Inferred Technology>\n```\n\n2. Blank line.\n\n3. Then, for **each resulting control** (**consolidated first**, then remaining unique), render **exactly** like this, with **four spaces** of indentation and **quoted keys/values**:\n\n```\n    \"Title\": \"<text>\",\n    \"Description\": \"<text>\",\n    \"Applicability\": \"<text>\",\n    \"Security Risk\": \"<text>\",\n    \"Default Behavior / Limitations\": \"<text>\",\n    \"Automation\": \"<text>\",\n    \"References\": [\n      \"<url-1>\",\n      \"<url-2>\"\n    ]\n```\n\n**Rules:**\n\n* **TXT only** (no code fences, no extra JSON wrapper).\n* Field **order and key names** must match exactly as shown.\n* In `References`, print each URL as a quoted string on its own line, separated by commas; close the array with `]`.\n* Insert **one blank line** between controls.\n\n---\n\n### 6) Quality Gate (internal, do not reveal)\n\n* Enforceability & auditability are clear.\n* Scope is explicit and testable.\n* Only true equivalents are consolidated; no accidental merges.\n* References favor official documentation (**docs.aws.amazon.com**, **learn.microsoft.com/azure**, **cloud.google.com/docs**).\n* TXT spacing/indentation exactly as in §5.\n* Provider/service terminology preserved correctly.\n\n---\n\n### 7) Multicloud Canonicalization Hints (internal)\n\nUse these mappings only to guide consolidation decisions and terminology accuracy; do **not** auto-translate terms between providers.\n\n**Public access control (storage services)**\n\n* AWS: S3 **Block Public Access** (account vs bucket), **Object Ownership: Bucket owner enforced** (disables ACLs).\n* Azure: Storage account **Public network access = Disabled**, **AllowBlobPublicAccess = false**, container-level public access disabled via **Azure Policy**.\n* GCP: **Public Access Prevention** (enforced/inherited) and **Uniform bucket-level access** (disable ACLs).\n\n**Transport security**\n\n* AWS: Bucket policy `aws:SecureTransport = true`; Config rule `s3-bucket-ssl-requests-only`.\n* Azure: **Secure transfer required = Enabled**; enforce TLS minimum version with Azure Policy.\n* GCP: HTTPS endpoints by default; consider signed URLs/policies; enforce via load balancer/Cloud Armor for web paths.\n\n**Encryption at rest & key management**\n\n* AWS: **SSE-KMS (CMK)** vs **SSE-S3**; deny unencrypted PUTs.\n* Azure: Encryption at rest; **customer-managed keys (CMK) in Key Vault**; restrict key access via RBAC/Key Vault policies.\n* GCP: Default encryption; **CMEK** via Cloud KMS; restrict with IAM & Org Policy.\n\n**Immutability/versioning/retention**\n\n* AWS: **Versioning**, **MFA-Delete**, **Object Lock (WORM)**.\n* Azure: **Blob versioning**, **Soft delete**, **Immutable storage** (time-based/legal hold).\n* GCP: **Object versioning**, **Retention policies**, **Object holds**.\n\n**Logging/auditing**\n\n* AWS: **Server access logging** (separate log bucket), **CloudTrail data events**.\n* Azure: **Diagnostic settings** to Log Analytics/Event Hub/Storage; **Activity Logs**.\n* GCP: **Cloud Audit Logs** (Data Access), route with **Log Sinks**; **Security Command Center** findings.\n\n**Private connectivity**\n\n* AWS: **VPC endpoints** (Gateway/Interface) with policy conditions (e.g., `aws:SourceVpce`).\n* Azure: **Private Endpoints** (disable public network access) or Service Endpoints + firewall/VNet rules.\n* GCP: **VPC Service Controls** service perimeters, **Private Google Access/Private Service Connect**.\n\nKeep provider mechanisms distinct; only consolidate when the controls are the **same technology + same locus/scope/mode**.\n\n---\n\nThis version keeps your strict TXT interface, adds multicloud awareness, and ensures consolidation is precise across providers.\n",
        "height": 4880,
        "width": 1520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4944,
        -1760
      ],
      "typeVersion": 1,
      "id": "c5cc6b66-cd4c-49e3-af3c-de23f7ba8a46",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "check_mandatory_fields": {
      "main": [
        [
          {
            "node": "generate_uuid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_uuid": {
      "main": [
        [
          {
            "node": "get_gdrive_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create": {
      "main": [
        [
          {
            "node": "check_mandatory_fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "explode_urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_get_url": {
      "main": [
        [
          {
            "node": "html_sanitizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html_sanitizer": {
      "main": [
        [
          {
            "node": "1_DefySec_Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1_DefySec_Extractor": {
      "main": [
        [
          {
            "node": "ec_controls_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "explode_urls": {
      "main": [
        [
          {
            "node": "process_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process_url": {
      "main": [
        [
          {
            "node": "cc_search_files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http_get_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ec_search_files": {
      "main": [
        [
          {
            "node": "ec_extract_file_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ec_append_create_filter": {
      "main": [
        [
          {
            "node": "ec_download_existing_file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ec_upload_new_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ec_upload_new_file": {
      "main": [
        [
          {
            "node": "process_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ec_update_existing_file": {
      "main": [
        [
          {
            "node": "process_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ec_download_existing_file": {
      "main": [
        [
          {
            "node": "ec_merge_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ec_merge_data": {
      "main": [
        [
          {
            "node": "ec_update_existing_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ec_extract_file_info": {
      "main": [
        [
          {
            "node": "ec_append_create_filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cc_search_files": {
      "main": [
        [
          {
            "node": "cc_extract_file_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cc_extract_file_info": {
      "main": [
        [
          {
            "node": "2_DefySec_Control_Composer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2_DefySec_Control_Composer": {
      "main": [
        [
          {
            "node": "cc_controls_router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ec_controls_check": {
      "main": [
        [
          {
            "node": "ec_search_files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "process_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cc_controls_router": {
      "main": [
        [
          {
            "node": "cc_no_controls_answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cc_controls_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cc_controls_check": {
      "main": [
        [
          {
            "node": "3_DefySec Baseline Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3_DefySec Baseline Builder": {
      "main": [
        [
          {
            "node": "bb_controls_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bb_controls_check": {
      "main": [
        [
          {
            "node": "bb_data_prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "bb_no_controls_answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bb_data_prep": {
      "main": [
        [
          {
            "node": "bb_data_respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_gdrive_id": {
      "main": [
        [
          {
            "node": "OpenAI_Assistants_List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resolve_assistants": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI_Assistants_List": {
      "main": [
        [
          {
            "node": "resolve_assistants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "015b8720-4087-4f1c-88e2-c28b2b300bfc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "247ad01c2ef7bb169c88da0fdc2f39730d8a7e76f71913465e5d08e401bd237a"
  },
  "id": "QiqRAiXGPRoDxv1q",
  "tags": []
}